<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="parts :: head"></div>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="list.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></li>
            <li class="active"><a href="/alerts"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Public Ratings - Notifications</h1>
			</div>
		</div>
		<div class="row">

        <div class="col-sm-12 main">
          <div class="row">

            <div class="col-md-12" th:each="click : ${clickList}">
              <div class="click-entry">
	              <div class="row">
	                <div class="col-md-12">
	            		<p th:if='${click.type} == false'>Es wurde etwas negativ bewertet.</p>
	            		<p th:if='${click.type} == true'>Es wurde etwas positiv bewertet.</p>
	                </div>
	              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div>
  </body>
</html>
